[Unit]
Description=Your DHT Read Program
After=network.target

[Service]
ExecStart=/home/git-repositories/climateControler_dht22/pi_dht_read"
User=benspeh357
Group=benspeh357
Restart=always
# Add necessary capabilities
CapabilityBoundingSet=CAP_SYS_RAWIO

[Install]
WantedBy=multi-user.target
