[Unit]
Description=Your DHT Read Program
After=network.target

[Service]
ExecStart=/home/git-repositories/climateControler_dht22/pi_dht_read/test_dht_read 1000000
WorkingDirectory=/home/git-repositories/climateControler_dht22/pi_dht_read
User=root
Restart=always
# Add necessary capabilities
#CapabilityBoundingSet=CAP_SYS_RAWIO
AmbientCapabilities=CAP_SYS_RAWIO
DeviceAllow=/dev/mem rw

[Install]
WantedBy=multi-user.target


