[Unit]
Description=Your DHT Read Program
After=network.target

[Service]
ExecStart=/home/git-repositories/climateControler_dht22/pi_readDHT/dht_readLOOP 22 23 60
WorkingDirectory=/home/git-repositories/climateControler_dht22/pi_readDHT
User=root
Restart=always
# Add necessary capabilities
#CapabilityBoundingSet=CAP_SYS_RAWIO
AmbientCapabilities=CAP_SYS_RAWIO
DeviceAllow=/dev/mem rw
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target


